.chats{
  border-top: 2px solid #f7f7f7;

}

.chats .chats__list{
  list-style: none;
  padding-left: 10px;
  margin:0;
}

.chats-body{
  background-color: #a1b8d1;
}

.chats-body .chat-screen .chat__messages .message__avatar{
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

.chat__messages{
  list-style: none;
  padding: 0;
}

.chat__messages .chat__timestamp{
  display: block;
  font-size: 11px;
  color: white;
  padding: 5px 10px;
  background-color: #8e96ab;
  opacity: 0.8;
  border-radius: 15px;
  position: absolute;
  right: 38%;
}

.sent-message.message .message__text{
  color: black;
  font-size: 13px;
  background-color: #ffe600;
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  right: 2%;
  margin-bottom: 7px;
}

.incoming-message.message .message__text{
  color: black;
  font-size: 13px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  left: 13%;
  margin-bottom: 7px;
}

.chat__messages .sent-message.message,
.chat__messages .incoming-message.message{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chat__messages .message__content{
  padding-left: 5px;
}

.chat__messages .message__writer{
  font-size: 10px;
  color: gray;
}
