.friends{
  margin-left: 10px;
}
.friends .friends__tab{
  border-top: 2px solid #f7f7f7;
  padding-top: 10px;
}

.friends__tab-header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.friends__tab-header i{
  font-size: 12px;
  opacity: 0.5;
}

.friends__tab .friends__title{
  font-size: 12px;
  opacity: 0.5;
}

.friends .friends__list{
  list-style: none;
  margin:0;
  padding:0;
}
